<h1>
  <%= title %>
</h1>
<form action="" method="POST">
  <div class="form-group">
    <label for="name">Genre:</label>
    <input type="text" id="name" class="form-control" placeholder="Fantasy, Poetry etc." name="name"
      value="<% genre === undefined ? '' : genre.name %>" required="true">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<% if (errors) { %>
  <ul>
    <% errors.forEach(error=> { %>
      <li>
        <%= error.msg %>
      </li>
      <% }) %>
  </ul>
  <% } %>